<html>
  <body>
    <div class="container"> 
    <div class="rcorners4" *ngFor="let sticky of allSticky"> 
        <p class="icon">{{sticky.likes}}</p>
        <p class="menu" mat-button [matMenuTriggerFor]="belowMenu"><mat-icon>class</mat-icon></p>
        <mat-menu #belowMenu="matMenu">
            <button mat-menu-item (click)="deleteSticky(sticky._id)"> Delete Sticky</button>
            <button mat-menu-item  (click)="editSticky(sticky._id)">Edit Sticky</button>
            <button mat-menu-item (click)="likeSticky(sticky._id)">Like Sticky</button>
          </mat-menu>
      <label style="align-self: center;"><strong>{{sticky.note}}</strong></label> 
    </div>
</div> 
  </body>
</html>